.billing-result-page .status .result, .plan-desc, .plan-len, .plan-system-select, .min-amount-error, .max-amount-error, .ptr {
	display:none;
}

.status {
    &-0 { color: $gray-600; }
    &-1 { color: $primary; }
    &-2 { color: $success; }
    &-3 { color: $danger; }
}

.balance-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacer;
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: $spacer*0.25;
        &:nth-child(5) {
            grid-column: 1 / 3;
        }
    }
    @include media-breakpoint-up(lg) {
        display: flex;
        .btn {
            flex-direction: row;
            gap: $spacer*0.5;
        }
    }
}

.billing-buy-field {
    .icms-svg-icon {
        margin-right: $spacer*0.5;
    }
}

#b_pub_price {
    margin-top: $spacer*0.25;
    font-size:$font-size-sm;
    display: table;
}
.icms-forms-hint ~ #b_pub_price {
    margin-top: -$spacer*1.25;
}

.b_field_price {
	margin-left:$spacer;
    font-size:$font-size-base;
    padding: $spacer*0.35 $spacer*0.75;
    font-weight: normal;
}

.b_field_price svg {
    margin-right:$spacer*0.75;
}

.pricing {
    &-desc {
        margin-bottom: $spacer*3;
    }
    &-wraper {
        display: flex;
        flex-wrap: wrap;
        gap: $spacer*1.75;
        margin: $spacer 0;
    }
    &-card {
        flex-grow: 1;
        max-width: 100%;
        background-color: $gray-100;
        &.popular {
            transform: scale(1.05);
            background-color: rgba($primary, 0.1);
        }
    }
    &-popular-badge {
        position: absolute;
        top: ($font-size-sm+$spacer)*-0.5;
        left: 50%;
        transform: translateX(-50%);
        background: $primary;
        color: $white;
        font-size: $font-size-sm;
        line-height: 1;
        font-weight: 600;
        padding: $spacer*0.5 $spacer;
        border-radius: $border-radius*2;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
}
.plan {
    &-features {
        display: flex;
        flex-direction: column;
        gap: $spacer*0.5;
        &__item {
            display: flex;
            gap: $spacer*0.5;
            > * {
                display: flex;
                align-items: center;
            }
        }
    }
}