/* для фиксации блоков при прокрутке */
@media (min-width: 1366px) {
    #cp_header + .app-body {
        overflow-x: initial;
    }
    .quickview-wrapper .quickview-wrapper__sticky-wraper {
        position: sticky;
        top: calc(1rem + 101px);
        z-index: 800;
    }
}
.skeleton-tree li {
    list-style: none;
    margin: 5px 0 0 1px;
    font-weight: bold;
}
.skeleton-tree li > ul {
    padding-left: 15px;
}
.skeleton-tree li > ul li {
    font-weight: normal;
}
.row > [class*="col-"] {
    min-width: 0;
}
[v-cloak]:not(.skeleton) {
    display: none !important;
}
.skeleton[v-cloak], .skeleton.skeleton-loading {
    position: relative;
    overflow: hidden;
}
.skeleton[v-cloak] > *, .skeleton.skeleton-loading > * {
    opacity: 0;
}
.skeleton[v-cloak]::after, .skeleton.skeleton-loading::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgb(228, 229, 230) 60%, rgba(255, 255, 255, 0));
    animation: shimmer 1.5s infinite;
    content: '';
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
.col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width:1400px){.col-xxl{flex-basis:0;flex-grow:1;max-width:100%}.row-cols-xxl-1>*{flex:0 0 100%;max-width:100%}.row-cols-xxl-2>*{flex:0 0 50%;max-width:50%}.row-cols-xxl-3>*{flex:0 0 33.3333333333%;max-width:33.3333333333%}.row-cols-xxl-4>*{flex:0 0 25%;max-width:25%}.row-cols-xxl-5>*{flex:0 0 20%;max-width:20%}.row-cols-xxl-6>*{flex:0 0 16.6666666667%;max-width:16.6666666667%}.col-xxl-auto{flex:0 0 auto;width:auto;max-width:100%}.col-xxl-1{flex:0 0 8.3333333333%;max-width:8.3333333333%}.col-xxl-2{flex:0 0 16.6666666667%;max-width:16.6666666667%}.col-xxl-3{flex:0 0 25%;max-width:25%}.col-xxl-4{flex:0 0 33.3333333333%;max-width:33.3333333333%}.col-xxl-5{flex:0 0 41.6666666667%;max-width:41.6666666667%}.col-xxl-6{flex:0 0 50%;max-width:50%}.col-xxl-7{flex:0 0 58.3333333333%;max-width:58.3333333333%}.col-xxl-8{flex:0 0 66.6666666667%;max-width:66.6666666667%}.col-xxl-9{flex:0 0 75%;max-width:75%}.col-xxl-10{flex:0 0 83.3333333333%;max-width:83.3333333333%}.col-xxl-11{flex:0 0 91.6666666667%;max-width:91.6666666667%}.col-xxl-12{flex:0 0 100%;max-width:100%}.order-xxl-first{order:-1}.order-xxl-last{order:13}.order-xxl-0{order:0}.order-xxl-1{order:1}.order-xxl-2{order:2}.order-xxl-3{order:3}.order-xxl-4{order:4}.order-xxl-5{order:5}.order-xxl-6{order:6}.order-xxl-7{order:7}.order-xxl-8{order:8}.order-xxl-9{order:9}.order-xxl-10{order:10}.order-xxl-11{order:11}.order-xxl-12{order:12}.offset-xxl-0{margin-left:0}.offset-xxl-1{margin-left:8.3333333333%}.offset-xxl-2{margin-left:16.6666666667%}.offset-xxl-3{margin-left:25%}.offset-xxl-4{margin-left:33.3333333333%}.offset-xxl-5{margin-left:41.6666666667%}.offset-xxl-6{margin-left:50%}.offset-xxl-7{margin-left:58.3333333333%}.offset-xxl-8{margin-left:66.6666666667%}.offset-xxl-9{margin-left:75%}.offset-xxl-10{margin-left:83.3333333333%}.offset-xxl-11{margin-left:91.6666666667%}}
.is-busy {
    position: relative;
}
.is-busy * {
    transition: none;
    visibility: hidden;
}
.is-busy:after {
    content: '';
    display: block;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 5px solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    color: inherit;
    background-color: transparent;
    -webkit-animation: loader-button 0.9s linear infinite;
    animation: loader-button 0.9s linear infinite;
    z-index: 99;
    width: 1.5rem;
    height: 1.5rem;
    margin: -0.75rem;
}
.ft_html .value img, p img {
    max-width: 100%;
    height: auto;
}
@-webkit-keyframes loader-button{
    100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes loader-button{
    100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.blur_block {
    -webkit-filter:blur(2px);
    -moz-filter:blur(2px);
    -ms-filter:blur(2px);
    -o-filter:blur(2px);
    filter:blur(2px);
}
@media (max-width: 767.98px)  {
    .modal-dialog {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .modal-body {
        overflow-y: auto;
    }
}
.modal-header .modal-close>svg {
    fill: currentColor;
    width: 1.25rem;
}
.cp_toolbar .dropdown-menu {
    min-width: 13rem;
}
.row .cp_toolbar {
    margin-top: 0 !important;
}
.cp_toolbar .nav-link::before, .has-icon::before, .theme_settings::before, .flag_trigger::before, .flag_trigger a::before, .flag_lock_on::before, .flag_lock_off::before, .datagrid td > .actions > a::before, .grid_field_value::after, #cp-widgets-list li > .title::before, #cp-widgets-layout .position li > .title::before {
    font-family: 'simple-line-icons';
    vertical-align: text-bottom;
    font-size: 1.1rem;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin: 0 5px 0 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.datagrid .actions{
    display: flex;
}
.datagrid .actions a {
    display: inline-block;
    text-decoration: none;
}
.datagrid .actions > a::before {
    margin: 0;
    padding: 0 3px;
}
.datagrid .actions > a.view::before { content: "\e087"; }
.datagrid .actions > a.edit::before { content: "\e05f"; }
.datagrid .actions > a.config::before { content: "\e052"; }
.datagrid .actions > a.labels::before { content: "\e04c"; }
.datagrid .actions > a.fields::before { content: "\e067"; }
.datagrid .actions > a.filter::before { content: "\e041"; }
.datagrid .actions > a.permissions::before { content: "\e08c"; }
.datagrid .actions > a.relations::before { content: "\e02b"; }
.datagrid .actions > a.delete::before { content: "\e082"; }
.datagrid .actions > a.unbind::before { content: "\e050"; }
.datagrid .actions > a.user::before { content: "\e001"; }
.datagrid .actions > a.rss::before { content: "\e03b"; }
.datagrid .actions > a.play::before { content: "\e071"; }
.datagrid .actions > a.accept::before { content: "\e080"; }
.datagrid .actions > a.copy::before { content: "\e040"; }
.datagrid .actions > a.basket_put::before, .datagrid .actions > a.basket_remove::before { content: "\e054"; }
.cp_toolbar .transfer > a::before {
    content: "\e01f";
}
.cp_toolbar .help > a::before {
    content: "\e05d";
}
.cp_toolbar .add > a::before {
    content: "\e095";
}
.cp_toolbar .view_list > a::before {
    content: "\e067";
}
.cp_toolbar .save > a::before {
    content: "\e022";
}
.cp_toolbar .save > a, .datagrid .actions > a.basket_remove, .datagrid .actions > a.accept {
    color: #4dbd74;
}
.cp_toolbar .cancel > a::before {
    content: "\e050";
}
.cp_toolbar .delete > a::before, .cp_toolbar .delete_folder > a::before {
    content: "\e082";
}
.cp_toolbar .cancel > a, .cp_toolbar .delete > a, .cp_toolbar .delete_folder > a, .cp_toolbar .delete_filter > a, .cp_toolbar .basket_put > a, .datagrid .actions > a.delete {
    color: #f86c6b;
}
.cp_toolbar .install > a::before {
    content: "\e084";
}
.cp_toolbar .export > a::before {
    content: "\e083";
}
.cp_toolbar .edit > a::before {
    content: "\e05f";
}
.cp_toolbar .refresh > a::before {
    content: "\e098";
}
.cp_toolbar .addons > a::before {
    content: "\e02d";
}
.cp_toolbar .permissions > a::before {
    content: "\e08c";
}
.cp_toolbar .settings > a::before, .theme_settings::before {
    content: "\e09a";
}
.cp_toolbar .filter > a::before {
    content: "\e091";
}
.cp_toolbar .delete_filter > a::before {
    content: "\e092";
}
.cp_toolbar .folder > a::before {
    content: "\e089";
}
.cp_toolbar .add_folder > a::before {
    content: "\e039";
}
.cp_toolbar .edit_folder > a::before {
    content: "\e060";
}
.cp_toolbar .basket_put > a::before {
    content: "\e054";
}
.cp_toolbar .move > a::before {
    content: "\e023";
}
.cp_toolbar .logs > a::before {
    content: "\e04f";
}
.cp_toolbar .tree_folder > a::before {
    content: "\e06c";
}
.cp_toolbar .users > a::before {
    content: "\e001";
}
.cp_toolbar .add_user > a::before {
    content: "\e002";
}
.cp_toolbar .menu > a::before {
    content: "\e601";
}
.cp_toolbar .items > a::before {
    content: "\e040";
}
.cp_toolbar .gridicon > a::before {
    content: "\e06a";
}
thead.list_thead {
    background-color: #acb4bc;
    color: #FFF;
}
.scroll_top {
    display: none;
}
@media (min-width: 1200px) {
    .fixed_toolbar {
        position: fixed;
        top: 55px;
        left: 0;
        right: 1.5rem;
        width: auto;
        z-index: 1018;
        box-shadow: 0px 2px 3px #c8ced3;
        border-top: none;
        margin: 0 0 0 1.5rem !important;
    }
    .sidebar-lg-show .fixed_toolbar {
        left: 210px;
    }
    .sidebar-lg-show.sidebar-minimized .fixed_toolbar {
        left: 50px;
    }
    #fixed_toolbar_spacer {
        margin: 0.5rem 0 !important;
        height: 39px;
    }
    .fixed_toolbar .scroll_top {
        display: inline-block;
    }
}
.quickview-wrapper .quickview-toggle {
    display: none;
}
@media (max-width: 1199.98px) {
    .quickview-wrapper {
        will-change: transform;
        position: fixed;
        left: -80%;
        top: 55px;
        width: 80%;
        background: #fff;
        bottom: 0;
        z-index: 1020;
        border-right: 1px solid rgba(222, 227, 231, 0.56);
        -webkit-transition: -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
        transition: transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
    .quickview-wrapper.open {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        -ms-transform: translate(100%, 0);
        box-shadow: 0 0 9px rgba(191, 191, 191, 0.36);
    }
    .quickview-wrapper .quickview-toggle {
        position: absolute;
        right: 12px;
        top: 2px;
        color: #788195;
        padding: 6px;
        opacity: 0.4;
        display: block;
    }
    .quickview-wrapper .quickview-toggle:hover {
      opacity: 1;
    }
    .quickview-wrapper-show .main::before {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1018;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.7);
      -webkit-animation: opacity 0.25s;
      animation: opacity 0.25s;
    }
}
@media (max-width: 767.98px) {
    .quickview-wrapper {
        left: -100%;
        width: 100%;
    }
    .main .container-fluid {
      padding-left: 0.5rem !important;
      padding-right: 0.5rem !important;
    }
    .main .container-fluid.print-body-wrap {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .buttons.my-3 {
        margin-left: 1rem !important;
    }
    #dashboard .card, #dashboard .card-header:first-child {
        border-radius: 0;
    }
}
@media (min-width: 768px){
    .main .container-fluid {
      padding: 0 1.5rem;
    }
}
.card-summary > span:not(:last-of-type):after {
    content: '\002022';
    margin: 0 4px;
}
.modal-body img {
    max-width: 100%;
}
h1:not(.error) {
    background: #63c2de;
    border-bottom: solid 1px #20a8d8;
    margin: 0 -1.5rem 1.5rem -1.5rem;
    padding: 15px 30px;
    color: #FFF;
    font-size: 1.53125rem;
}
h1 > span::before {
    content: '/ ';
}
h1 > span:empty {
    display: none;
}
.top-logo {
    position: absolute;
    top: -50px;
    left: -5px;
}
.back-to-home {
    position: absolute;
    top: 100%;
    left: 0;
}
#breadcrumb + div > h1 {
    margin-top: -1.5rem ;
}
.form-control:focus {
  color: #23282c;
}
.app-header {
  background-color: #34699f;
  background-image: url(../../images/header_bg.jpg);
  border: none;
}
.navbar-nav .nav-link {
  color: #FFF;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
  color: #f3ac51;
}
.sidebar .nav {
  min-height: auto;
}
#admin_toolbar .nav-pills .show > .nav-link {
    background-color: rgba(32, 168, 216, 0.04);
    color: #20a8d8;
}
form .ft_date select {
    width: 70px;
    display: inline-block;
}
form .ft_number .input-group, form .field .input-small {
    width: 220px;
}
form .date-input, form .short-input {
    width: 150px;
    display: inline-block;
}
form .field_error .form-control, form .field_error textarea, form .field_error select {
    border-color: #f86c6b;
}
form .field_error .invalid-feedback {
    display: block;
}
form .reguired_field>label:after {
    content: '*';
    color: #dc3545;
    padding-left: 0.5rem;
}
.ft_hidden {
    display: none;
}
textarea.form-control {
    min-height: 150px;
}
.auto_copy_value {
    cursor: pointer;
    color: #20a8d8;
}
.theme_settings {
    margin-left: 10px;
}
.theme_settings::before {
    vertical-align: middle;
}
.theme_settings.inthemer::before {
    content: "\e06c";
}
.ajax-form .card {
    border: none;
    box-shadow: none;
}
.ajax-form .card-body {
    padding: 0;
}
.icon-svg  {
    display: inline-block;
    line-height: 1;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    min-height: 16px;
    vertical-align: text-bottom;
}
.disabled .icon-svg  {
    filter: grayscale(70%);
}
ul.field_tabbed > li > a {
    background-repeat: no-repeat;
    background-position: 0.25rem 0.5rem;
    background-size: auto 16px;
}
.field.multilanguage {
    padding: 0 0 0.5rem 0;
}
.field.multilanguage:nth-last-child(-n+2) {
    padding-bottom: 0;
}
.datagrid .flag_trigger,
.datagrid .flag_lock_on,
.datagrid .flag_lock_off,
.datagrid .flag_trigger a {
    text-align: center;
    color: #acb4bc;
}
.datagrid .flag_trigger a {
    color: inherit;
    text-decoration: none;
}
.datagrid .flag_trigger:empty::before,
.datagrid .flag_trigger a::before {
    content: "\e080";
    font-weight: bold;
}
.datagrid .flag_trigger.flag_off:empty::before,
.datagrid .flag_trigger.flag_off a::before {
    content: "\e081";
}
.datagrid .flag_trigger.loading{
    animation: sk-pulseScaleOut 0.5s infinite linear;
    background: none;
    padding: 0;
}

.datagrid .flag_on { color: #4dbd74; }
.datagrid .flag_middle, .datagrid .actions > a.basket_put { color: #ffc107; }
.datagrid .flag_lock_on, .datagrid .flag_off { color: #f86c6b; }

.datagrid .flag_lock_on:empty::before, .datagrid .flag_lock_off:empty::before,
.datagrid .flag_lock_on a::before, .datagrid .flag_lock_off a::before {
    content: "\e08e";
}
.datagrid .is_deleted .flag_trigger, .datagrid .is_deleted .flag_trigger a {
    opacity: 0.2;
}
.datagrid .grid_image_preview{
    display:block;
    height:64px;
}
.tab-pane:last-child > fieldset, #cp-widgets-layout .position:last-child,
#cp-widgets-layout table td .block:last-child, .widgets-layout-scheme .block:last-child,
#cp-widgets-list li:last-child,
#cp-widgets-layout .position li:last-child,
.without-tabs .form-group:last-child,
.without-tabs .form-group.multilanguage:nth-last-child(-n+2){
    margin-bottom: 0 !important;
}

.without-tabs fieldset {
    padding: 0.5rem 1.25rem 1.25rem 1.25rem;
    border-radius: 4px;
    border: solid 1px #c8ced3;
    margin-bottom: 1rem;
}
legend {
  font-size: 1.2rem;
}
.without-tabs fieldset legend {
    width: auto;
    padding: 0 10px;
    margin: 0;
}
form .child_field{margin-left: 20px}
.parent_field {
    margin-left: 25px;
}
.alert .card.form-tabs {
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.alert .card.form-tabs .card-body {
    padding: 0;
}
.alert form > .buttons {
    margin-bottom: 0.5rem !important;
}
.field.multilanguage.child_field, .field_tabbed.child_field {
    margin-left: 20px;
}
.select_deselect a {
    text-decoration: none;
    margin: 0 0.75rem 0 0;
}
.icms-form__symbols_count_wrap .symbols_count {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    color: #888888;
    line-height: 1.5;
    border: 1px solid transparent;
}
.symbols_count .overflowing, .symbols_count .overflowing_min {
    color: #dc4c4b;
}
.input-group > .icms-form__symbols_count_wrap:not(:first-child) > .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .icms-form__symbols_count_wrap:not(:last-child) > .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group > .icms-form__symbols_count_wrap {
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.datagrid tr .grid_field_value::after {
    transition: opacity 0.3s;
    content: "\e05f";
    display: inline-block;
    margin: 0 0 0 10px;
    cursor: pointer;
    color: #c8ced3;
    opacity: 0;
}
.datagrid tr:hover .grid_field_value::after {
    opacity: 1;
}
.grid_field_edit > .button {
    margin: 1rem 0 0 0;
}
.grid_field_edit {
    display: none;
    position: absolute;
    background-color: #FFF;
    padding: 1rem;
    box-shadow: 0px 0px 5px #c8ced3;
    width: 270px;
    top: 2rem;
    left: 0.75rem;
    z-index: 2;
    cursor: default;
}
.grid_field_value {
    display: flex;
    align-items: center;
}
.grid_field_value > span {
    white-space: nowrap;
}
.is_collapsed {
    transition: all 0.3s ease;
}
.is_collapse {
    position: relative;
    background: #f0f3f5;
    height: 36px;
    box-sizing: border-box;
    line-height: 36px;
    cursor: pointer;
}
.is_collapse > legend {
    position: absolute;
    top: 0;
    width: 100% !important;
    box-sizing: border-box;
    display: block;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.is_collapsed > legend:before {
    content: '+';
    display: inline-block;
    margin: 0 10px 0 10px;
    font-size: 16px;
}
.is_collapsed.do_expand > legend:before {
    content: '';
    display: none;
}
.is_collapsed.do_expand > legend {
    cursor: pointer;
}
.is_collapse > .field, .is_collapse > .field_tabbed, .hide_field {
    display: none !important;
}
.chosen-container-single .chosen-single {
    border-radius: 2px;
}
#cp-widgets-layout table, .widgets-layout-scheme {
    width: 100%;
    margin: 0;
    border: solid 1px #acb4bc;
    border-top: none;
    background: #c8ced3;
    border-collapse: separate !important;
    border-spacing: 2px;
}
#cp-widgets-layout table:first-child, .widgets-layout-scheme:first-child {
    border-top: solid 1px #acb4bc;
}
.widgets-layout-scheme .widgets-layout-scheme-col {
    border-right: solid 1px #acb4bc;
}
.widgets-layout-scheme .widgets-layout-scheme-col:last-child {
    border-right: none;
}
.widgets-layout-scheme .widgets-layout-scheme-col:first-child{
    border-left: solid 1px #acb4bc;
}
.widgets-layout-scheme .widgets-layout-scheme-col .widgets-layout-scheme-col:first-child{
    border-left: none;
}
#cp-widgets-layout table td {
    vertical-align: top;
    border: solid 1px #acb4bc;
    background: #FFF;
    padding: 0.5rem;
}
#cp-widgets-layout .position {
    margin: 0 0 0.5rem 0;
    list-style: none;
    padding: 0.5rem;
    border: dashed 1px #17a2b8;
    min-height: 3.1rem;
    background: #FFF;
}
#cp-widgets-layout .widgets-layout-scheme-col .position {
    padding: 0.25rem;
}
#cp-widgets-layout table td.filled {
    text-align: center;
    vertical-align: middle;
}
#cp-widgets-layout table td .block, #cp-widgets-layout table td.filled, .widgets-layout-scheme .filled, .widgets-layout-scheme .block {
    background-color: #c8ced3 !important;
    color: #5c6873;
}
#cp-widgets-layout table td .block, .widgets-layout-scheme .block {
    border: solid 1px #acb4bc;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    min-height: 2.5rem;
}
.widgets-layout-scheme .block {
    margin-bottom: 0;
}
.layout-col-title {
    background-color: #17a2b8;
    color: #FFF;
    padding: 0.25rem 1rem 0.25rem 1.15rem;
}
.layout-col-title > span {
    position: relative;
    cursor: move;
}
.widgets-layout-scheme:not(.disable-sortable) > .filled > .cell > span {
    cursor: move;
}
.widgets-layout-scheme .widgets-layout-scheme-col .block {
    background-color: #ffc107 !important;
    border: solid 1px #c39508;
}
#cp-widgets-list li, #cp-widgets-layout .position li {
    background-color: #fff3cd;
    color: #856404;
    border: solid 1px #ffeeba;
    border-radius: 2px;
    margin-bottom: 0.5rem;
    transition:border-color .2s ease, background 0.1s linear;
    overflow: hidden;
    position: relative;
}
#cp-widgets-layout .position li.is_set_access::before {
    content: '';
    background-image: linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-size: 40px 40px;
}
#cp-widgets-layout .widgets-layout-scheme-col .position li {
    margin-bottom: 0.25rem;
}
.widgets-layout-scheme-placeholder {
    width: 100%;
    background: #b0cbc1;
    border: solid 1px #b0cbc1;
}
#cp-widgets-list li > .title, #cp-widgets-layout .position li > .title {
    display: inline-block;
    padding: .5rem;
    position: relative;
}
#cp-widgets-layout .position li:not(.disabled) > .title, #cp-widgets-list li > .title {
    cursor: move;
}
#cp-widgets-layout .position li.placeholder{
    background-color: #d2eef7;
    border-color: #c1e7f4;
    height: 2.45rem;
}
#cp-widgets-layout .position li.placeholder > .title::before{
    content: "";
}
#cp-widgets-list li:hover, #cp-widgets-layout .position li:not(.disabled):hover {
    border-color: #d6a20c;
}
#cp-widgets-layout .position li.hide:hover {
    border-color: #813838;
}
#cp-widgets-list li > .title::before, #cp-widgets-layout .position li > .title::before {
    content: "\e023";
    margin-right: .5rem;
    vertical-align: middle;
}
#cp-widgets-layout .position li.is_tab_prev {
    margin-left: 1rem;
}
#cp-widgets-layout .position li.disabled {
    background-color: #f4f5f6;
    border-color: #f0f1f3;
    color: #686b6e;
    cursor: default;
}
#cp-widgets-layout .position li.disabled > .title::before {
    content: "\e08e";
}
#cp-widgets-layout .position li.is_hidden {
    opacity: 0.6;
}
#cp-widgets-layout .position li.is_hidden > .title {
    padding: .3rem .5rem;
}
#cp-widgets-layout .position li.is_hidden > .title::before {
    content: "\e01a";
}
#cp-widgets-layout .position li.hide {
    color: #813838;
    background-color: #fee2e1;
    border-color: #fdd6d6;
}
#cp-widgets-layout li .actions > a, #cp-widgets-list li .actions > a {
    text-decoration: none;
    color: inherit;
    transition: .3s;
    display: inline-block;
    position: relative;
}
#cp-widgets-layout li .actions > a:hover, #cp-widgets-list li .actions > a:hover {
    transform: scale(1.3);
}
#cp-widgets-layout li .actions, #cp-widgets-list li .actions {
    padding: .5rem 1rem .5rem .5rem;
}
#cp-widgets-layout .position .device_restrictions, #cp-widgets-layout .position .lang_restrictions {
    background-color: #f9d46b;
    border: solid 1px #ccab49;
}
#cp-widgets-list li > img, #cp-widgets-layout .position li > img {
    max-width: 200px;
    border-radius: inherit;
    display: block;
}
#cp-widgets-layout .position li > img {
    max-width: 100% !important;
}
#site_settings #fset_2 .chosen-container,
#site_settings #fset_5 .chosen-container { width:300px !important; }
#site_settings #fset_2 label, #site_settings #fset_5 label { display: block; }
#site_settings #f_template .icms-forms-hint, #site_settings #f_template_mobile .icms-forms-hint, #site_settings #f_template_tablet .icms-forms-hint, #site_settings #f_template_admin .icms-forms-hint, #site_settings #f_cache_method .icms-forms-hint, #site_settings #f_merge_css .icms-forms-hint, #site_settings #f_merge_js .icms-forms-hint {
    display: inline-block !important;
}
.pattern_fields_panel {
    display: none;
}
.pattern_fields > a {
    text-decoration: none;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 2px;
    background-color: #8ad4ee;
    color: #FFF;
    margin: 0 0 2px 0;
}
.pattern_fields > a:hover {
    background-color: #20a8d8;
}
.ace_redactor {
    height: 350px;
}
#addons_count .spinner, .do_install .spinner, .loading-icon .spinner, .btn .spinner, .grid_field_edit .spinner, .position .spinner {
    margin: 0;
    width: auto;
    display: inline-block;
}
#addons_count .spinner > div, .do_install .spinner > div, .loading-icon .spinner > div, .position .spinner > div {
    width: 10px;
    height: 10px;
}
.do_install .spinner > div, .btn .spinner > div {
    background-color: #fff;
}
.rating > span.full:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: 	#ffc107;
}
.rating > span {
    display: inline-block;
    position: relative;
    font-size: 1.25rem;
    color: #c8ced3;
}
.need-scrollbar {
    position: relative;
    max-height: 470px;
}
.nav-tabs + .need-scrollbar {
    max-height: 430px;
}
th[rel="id"] {
    width: 50px;
}
th[rel="is_enabled"] {
    width: 90px;
}
th[rel="advanced_filter"] {
    width: 70px;
}
th.sortable {
    cursor: pointer;
}
.datagrid_loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 31px;
}
.datagrid tr td {
    transition:background .5s ease;
    vertical-align: middle;
}
.datagrid tr.selected td,
.datagrid tr.current-edit-line td,
.datagrid tr.selected:hover td {
    background:#ffe79d;
    position: relative;
}
.datagrid .empty{
    color:#8f9ba6;
}
.datagrid.table-dragged tbody > tr:not(.filter) > td.dragged_handle::before,
.is-sortable .card-header > .db-sortable-handle::before,
.layout-col-title > span::before,
.widgets-layout-scheme:not(.disable-sortable) > .layout-row-title > .cell > span::before {
    height: 20px;
    width: 20px;
    background-image: url("../../images/datatree/drag_indicator.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    content: '';
    display: block;
    left: calc(100% - 20px);
    position: absolute;
    top: 0.75rem;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s;
    will-change: opacity;
}
.widgets-layout-scheme:not(.disable-sortable) > .layout-row-title > .cell > span::before {
    top: 50%;
    margin-top: -10px;
    left: -20px;
}
.layout-col-title > span::before {
    top: 0.05rem;
    left: -19px;
}
.datagrid.table-dragged tbody > tr:hover > td.dragged_handle::before, .is-sortable .card-header:hover > .db-sortable-handle::before, .widgets-layout-scheme:not(.disable-sortable) > .layout-row-title:hover > .cell > span::before, .layout-col-title:hover > span::before {
    opacity: 1;
}
.is-sortable .card-header > .db-sortable-handle::before {
    left: 0;
}
.card-body > .card-footer {
    margin: 1.25rem -1.25rem -1.25rem -1.25rem;
}
.is-sortable .card-header > .db-sortable-handle, .datagrid.table-dragged tbody > tr:not(.filter) > td.dragged_handle {
    cursor: move;
}
.is-sortable .card-header > .db-sortable-handle {
    display: inline-block;
    margin: -0.75rem -1.25rem;
    padding: 0.75rem 1.25rem;
}
.datagrid.table-dragged tbody > tr > td.dragged_handle, .is-sortable .card-header > .db-sortable-handle {
    position: relative;
}
.loading{
    padding-left: 22px;
    background-image: url("../../images/datatree/loading.svg");
    background-repeat: no-repeat;
    background-position: left center;
}
.colplaceholder{
    background:rgba(0,0,0,.025);
    border:1px dashed #c8ced3;
}
.spinner {
    margin: 60px auto 0;
    width: 70px;
    text-align: center;
}
.spinner > div {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-color: #acb4bc;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
td > .spinner {
    margin: 0;
    display: inline-block;
}
td > .spinner > div {
    width: 12px;
    height: 12px;
    background-color: #dadada;
}
.dropdown-menu > .spinner {
    margin: 1rem auto;
}
.sk-spinner-pulse {
    display: inline-flex;
    width: 14px;
    height: 14px;
    margin: 0 5px 0 0;
    background-color: #FFF;
    border-radius: 100%;
    animation: sk-pulseScaleOut 1.0s infinite ease-in-out;
    vertical-align: middle;
}
#chart-spinner {
    width: 35px;
    height: 35px;
}
@keyframes sk-pulseScaleOut {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
.sk-circle {
  width: 90px;
  height: 90px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #FFF;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }
@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}
.animate {
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.animate-shake {
  animation-name: shake;
  z-index: 1;
}
.icms-svg-icon.w-16 {
    width: 1em;
}
.cp_toolbar .icms-svg-icon.w-16 {
    width: 1.2em;
}
.icms-svg-icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    fill: currentColor;
}
.icms-cpanel .minicolors-theme-default .minicolors-swatch {
    width: calc(1.5em + 0.5rem);
    height: calc(1.5em + 0.5rem);
}
.icms-user-avatar {
    position: relative;
    display: inline-block;
}
.icms-user-avatar>* {
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    border: none;
    min-width: 32px;
    min-height: 32px;
}
.icms-user-avatar.peer_online:after, .icms-user-avatar.peer_no_online:after {
    bottom: 0;
    right: 0;
    border: 2px solid #fff;
    height: 1em;
    width: 1em;
    content: '';
    position: absolute;
    border-radius: 50%;
}
.icms-user-avatar.peer_online:after {
    background-color: #4dbd74;
}
.icms-user-avatar.peer_no_online:after {
    background-color: #ffc107;
}
.icms-profile-avatar__default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: .875rem;
}
.icms-profile-avatar__default svg {
    width: 100%;
    height: 100%;
    text-rendering: optimizeSpeed;
}
.icms-profile-avatar__default.avatar__mini {
    width: 35px;
    height: 35px;
}
.nav-link>.counter.badge {
    color: #fff;
    background-color: #20a8d8;
}
.nav-link {
    transition: all .15s linear;
}
.nav-pills .nav-link {
    display: flex;
    align-items: center;
}
.nav-pills .nav-link>.icms-svg-icon {
    font-size: 120%;
    margin: 0 0.35rem 0 0;
}
.app-header .nav-link>.icms-svg-icon {
    font-size: 140%;
}
.desktop_device_type .icms-menu-hovered .dropdown:hover>.dropdown-menu {
    display: block;
    animation-name: slideIn;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    margin: 0;
}
.nav-tabs .nav-link {
    border-top: 2px solid transparent;
}
.nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active {
    border-top-color: #20a8d8;
}
.icms-form__password-field-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.75rem 0 0;
    font-size: 160%;
    color: #888888;
    line-height: 1.5;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.icms-form__password-field>input {
    padding-right: 3rem;
}