/.gitignore
/.idea
/system/config/config.php
/system/config/theme_default.yml
/upload/u1/
/upload/000/
/upgrade/
/system/controllers/api/
/system/languages/ru/controllers/api/
/system/languages/en/controllers/api/
/templates/default/controllers/api/
/cache/rsscache/
/cache/*.dat
/cache/*.js
/cache/*.css
/cache/*.xml
/system/controllers/billing/
/system/languages/ru/controllers/billing/
/system/languages/ru/letters/billing_field_purchased.txt
/system/languages/ru/letters/billing_out_notify.txt
/system/languages/ru/letters/billing_out.txt
/system/languages/ru/letters/billing_transfer.txt
/system/languages/ru/letters/billing_transfer_notify.txt
/system/languages/ru/letters/billing_relegation.txt
/system/languages/ru/letters/billing_remind.txt
/templates/default/controllers/billing/
/templates/default/images/billing/
/templates/default/js/billing.js
/templates/modern/js/billing.js
/templates/modern/controllers/billing/
