.content_list_item + .content_list_item {
    margin-top: $spacer*2;
}
.icms-body-toolbox + .content_list {
    margin-top: $spacer*1.5 !important;
}
.content_item, .content_list {
    .field:not(.form-group) {
        margin-bottom: $spacer*0.5;
        @include media-breakpoint-up(sm) {
            margin-bottom: $spacer*0.75;
            &.left_field {
                float: left;
                margin-right: $spacer;
                margin-bottom: 0;
            }
            &.right_field {
                float: right;
                margin-left: $spacer;
                margin-bottom: 0;
            }
        }
        &.auto_field {
            overflow: visible;
        }
        &.none_field {
            float: none;
            clear: both;
        }
        .title_left, .title_top {
            font-weight: bold;
        }
        .title_left {
            float:left;
            margin-right: $spacer;
        }
        .title_top {
            margin-bottom: $spacer/2;
        }
        .value > *:last-child {
            margin-bottom: 0;
        }
        &:last-child {
            margin-bottom: 0;
            @include clearfix;
        }
    }
    td > .info_bar {
        background-color: transparent;
        border: none;
    }
}
.content_list {
    &.table {
        .info_bar {
            margin-top: 0;
            padding: 0;
        }
    }
    &.compact {
        .field {
            margin-bottom: $spacer*0.25;
        }
        .content_list_item+.content_list_item {
            margin-top: $spacer;
        }
        article & {
            @include media-breakpoint-up(lg) {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: -$spacer;
                & >* {
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin-top: 0 !important;
                    margin-bottom: $spacer;
                }
            }
        }
    }
    &.featured {
        > div {
            .info_bar {
                background-color: transparent;
                padding-bottom: 0;
                margin-top: 0;
            }
            &:first-child {
                .field {
                    @include media-breakpoint-up(lg) {
                        &.ft_image {
                            float: left;
                            margin-right: $spacer;
                            margin-bottom: 0;
                            max-width: 50%;
                        }
                    }
                    &:last-child:after {
                        clear: none;
                    }
                }
            }
        }
        @include media-breakpoint-up(md) {
            > div:nth-child(1n+4){
                .info_bar {
                    > div:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
        .ft_image {
            a {
                display: block;
                overflow: hidden;
                > img {
                    width: 100%;
                    transition: transform .3s ease-out;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    &.tiled {
        .ft_image {
            a {
                > img {
                    width: 100%;
                    border-radius: $border-radius;
                }
            }
        }
    }
}
.info_bar {
    background-color: $gray-100;
    padding: ($spacer*0.75) $spacer;
    border-top: 1px solid $gray-200;
    font-size: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: $gray-600;
    margin-top: $spacer;
    @include border-radius(0 0 $border-radius $border-radius);
    a {
        color: inherit;
    }
    .bar_item {
        position: relative;
        margin-right: $spacer;
        &:last-child {
            margin-right: 0;
        }
    }
}
.icms-content-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 90%;
    color: $gray-600;
    &__item {
        margin-right: $spacer*0.5;
        @include media-breakpoint-up(lg) {
            margin-right: $spacer;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        color: inherit;
    }
}
.first_type_images, .second_type_images, .hover_image {
    position: relative;
    display: inline-block;
    &:after {
        content: '';
        background: $black;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: $transition-fade;
        opacity: 0;
        background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4Ij4KPGc+Cgk8cGF0aCBkPSJNNDk3LjkzOCw0MzAuMDYzbC0xMTItMTEyYy0wLjMxMy0wLjMxMy0wLjYzNy0wLjYwNy0wLjk1NS0wLjkwOUM0MDQuNjM2LDI4NS40MDMsNDE2LDI0OC4wMDYsNDE2LDIwOCAgIEM0MTYsOTMuMzEzLDMyMi42OTUsMCwyMDgsMFMwLDkzLjMxMywwLDIwOHM5My4zMDUsMjA4LDIwOCwyMDhjNDAuMDA3LDAsNzcuNDA0LTExLjM2NCwxMDkuMTU0LTMxLjAxOCAgIGMwLjMwMiwwLjMxOSwwLjU5NiwwLjY0MywwLjkwOSwwLjk1NWwxMTIsMTEyQzQzOS40Myw1MDcuMzEzLDQ1MS43MTksNTEyLDQ2NCw1MTJjMTIuMjgxLDAsMjQuNTctNC42ODgsMzMuOTM4LTE0LjA2MyAgIEM1MTYuNjg4LDQ3OS4yMDMsNTE2LjY4OCw0NDguNzk3LDQ5Ny45MzgsNDMwLjA2M3ogTTY0LDIwOGMwLTc5LjQwNiw2NC42MDItMTQ0LDE0NC0xNDRzMTQ0LDY0LjU5NCwxNDQsMTQ0ICAgYzAsNzkuNDA2LTY0LjYwMiwxNDQtMTQ0LDE0NFM2NCwyODcuNDA2LDY0LDIwOHoiIGZpbGw9IiNGRkZGRkYiLz4KCTxwYXRoIGQ9Ik0yNzIsMTc2aC0zMnYtMzJjMC0xNy42NzItMTQuMzI4LTMyLTMyLTMycy0zMiwxNC4zMjgtMzIsMzJ2MzJoLTMyYy0xNy42NzIsMC0zMiwxNC4zMjgtMzIsMzJzMTQuMzI4LDMyLDMyLDMyaDMydjMyICAgYzAsMTcuNjcyLDE0LjMyOCwzMiwzMiwzMnMzMi0xNC4zMjgsMzItMzJ2LTMyaDMyYzE3LjY3MiwwLDMyLTE0LjMyOCwzMi0zMlMyODkuNjcyLDE3NiwyNzIsMTc2eiIgZmlsbD0iI0ZGRkZGRiIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
        background-repeat: no-repeat;
        background-position: center center;
        @include border-radius($thumbnail-border-radius);
    }
    &:hover {
        &:after {
            opacity: 0.4;
        }
    }
}
.first_type_images, .second_type_images {
    float: left;
    margin-right: $spacer*0.5;
    &:last-child {
        margin-right: 0;
    }
}

.icms-btn-tag {
    .tags_bar & {
        margin: 0 $spacer*0.25 $spacer*0.25 0;
    }
    &:before {
        content: '#';
        margin-right: $spacer*0.1;
    }
}
.tags_bar {
    margin-bottom: -$spacer*0.25;
}

.multiple_tags_list {
    li {
        color: $info;
        border: $btn-border-width solid $info;
        text-align: center;
        white-space: $btn-white-space;
        vertical-align: middle;
        @include border-radius($btn-border-radius-sm, 0);
        @include transition($btn-transition);
        @include hover() {
            color: color-yiq($info);
            background-color: $info;
            border-color: $info;
        }
        > * {
            padding: $btn-padding-y-sm $btn-padding-x-sm;
            @include font-size($btn-font-size-sm);
            line-height: $btn-line-height-sm;
            text-decoration: none;
            color: inherit;
            display: block;
        }
    }
}
.icms-content {
    &-header {
        $blockName: &;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            display: block;
            opacity: .85;
            background-image: linear-gradient(130deg, rgba($blue, .5) 0%, rgba($purple, .9) 90%);
        }
        > #{$blockName}__banner {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI0NTQiIHZpZXdCb3g9IjAgMCAxNDQwIDQ1NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPG1hc2sgaWQ9Im1hc2swIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4PSIwIiB5PSIwIiB3aWR0aD0iMTQ2NCIgaGVpZ2h0PSI0NTQiPgo8cmVjdCB5PSIwLjY4ODcyMSIgd2lkdGg9IjE0NjMuMDUiIGhlaWdodD0iNDUzLjI1NSIgcng9IjE2IiBmaWxsPSIjQzRDNEM0Ii8+CjwvbWFzaz4KPGcgbWFzaz0idXJsKCNtYXNrMCkiPgo8cGF0aCBvcGFjaXR5PSIwLjE1IiBkPSJNOTYyLjU2MiAzMjYuMDE2QzgwNy4yNzMgMTkyLjgxMyA1OTMuMjY3IDM0OC40NjkgNDIzLjY2MyAyNDMuMDU0QzMzNS40MTggMTg4LjIwNyAzMTcuNTIzIDEzOC43MTQgMjU0LjE5OCA1Ni44OTU5QzIxMy41ODIgNC40MTcyNyAyMDkuNzExIC00LjcxODY5IDE3MS4xNjEgLTQyLjI1MzdDMTMyLjYxMSAtNzkuNzg4NyA2Mi43MDMxIC0xMjMuMTkyIDYyLjcwMzEgLTEyMy4xOTJWLTI2MC43ODhIMTg4Ny44NFY2NTUuODQxSDE0NTIuMzJDMTQ1Mi4zMiA2NTUuODQxIDEyMTkuNyA2NjAuMTY4IDExMDguMyA1NDYuNTc0QzEwNDAuNTUgNDc3LjQ4NSAxMDQyLjA1IDM5NC4yMDQgOTYyLjU2MiAzMjYuMDE2WiIgZmlsbD0id2hpdGUiLz4KPHBhdGggb3BhY2l0eT0iMC4xNSIgZD0iTTEwMjUuMjYgMjgxLjk1Qzg2OS45NzMgMTQ4Ljc0NyA2NTUuOTY3IDMzOC44MDIgNDg2LjM2NCAyMzMuMzg3QzM5OC4xMTkgMTc4LjUzOSAzNTEuOTIyIC0xNS44MzYyIDMyNi4yMiAtNzMuMjgwMUMzMTIuMTM2IC0xMDQuNzU2IDI5MC42MzIgLTEzMy4wODUgMjU1LjcwMyAtMTU1LjExOEMyMjAuNzc1IC0xNzcuMTUxIDEyNS40MDMgLTE2Ny4yNTkgMTI1LjQwMyAtMTY3LjI1OVYtMzA0Ljg1NEgxOTUwLjU0VjU1NC4yMThIMTU0Mi4xM0MxNTQyLjEzIDU1NC4yMTggMTI1NS43MyA1NjUuMjM1IDExNjIuNTMgNDg2LjMyQzEwODEuMTkgNDE3LjQ0OCAxMTA0Ljc2IDM1MC4xMzggMTAyNS4yNiAyODEuOTVaIiBmaWxsPSJ3aGl0ZSIvPgo8L2c+Cjwvc3ZnPgo=");
            background-color: $gray-500;
            color: $white;
            &.parallax-window {
                background: transparent;
            }
        }
        h1 {
            margin: 0;
        }
        .bi_rating {
            font-size: 130%;
            .arrow {
                .disabled {
                    color: $gray-500 !important;
                }
            }
        }
        &__image {
            &:before {
                background: rgba(0, 0, 0, 0.65);
            }
            > #{$blockName}__banner {
                background-color: $gray-300;
            }
        }
    }
    &-fields {
        &__group_title {
            margin: $spacer 0;
        }
    }
    &__author {
        &-avatar {
            display: flex;
            text-decoration: none;
            color: $black;
            &:hover {
                text-decoration: none;
                color: $gray-800;
            }
            &-nickname {
                writing-mode: vertical-lr;
                padding: $spacer*0.5;
                text-align: center;
                transform: rotate(180deg);
                white-space: nowrap;
                text-overflow: ellipsis;
                max-height: 240px;
                overflow: hidden;
            }
        }
    }
}