$enable-modal-blur: true !default;
$avatar-inlist-size: 64px !default;
$modal-title-color: $white !default;
$dropdown-menu-arrow-width: 8px !default;

// Переменные BS
$embed-responsive-aspect-ratios: ((36 9));
$navbar-dark-color: rgba($white, .8);
$zindex-dropdown: 1021;
$enable-print-styles: false;
$enable-validation-icons: false;
$enable-deprecation-messages: false;
$modal-content-border-width: 0;
$modal-backdrop-opacity: .7;
$modal-header-padding-y: .25rem;
$modal-header-padding-x: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-bg: transparent;