$enable-modal-blur: true !default;
$avatar-inlist-size: 64px !default;
$modal-title-color: $white !default;
$dropdown-menu-arrow-width: 8px !default;

// Переменные BS
$embed-responsive-aspect-ratios: ((36 9));
$navbar-dark-color: rgba($white, .8);
$zindex-dropdown: 1021;