.icms-widget, .icms-widget__tabbed {
    .edit_wlinks {
        @include transition($transition-fade);
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: 10;
    }
    &:hover .edit_wlinks {
        opacity: 1;
    }
    &:last-child {
        margin-bottom: 0 !important;
    }
    > .card-header {
        > .icms-svg-icon {
            margin-right: $spacer*0.5;
        }
    }
}
.icms-widget__tabbed {
    > .card-header {
        .nav-link {
            padding: $card-spacer-y $card-spacer-x;
        }
    }
}
.icms-widget__transparent {
    &.card {
        border: none;
        background-color: transparent;
    }
    > .card-header {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    > .card-body, > .icms-widgets > .card-body {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
.icms-widget__compact {
    &.card {
        border: none;
        background-color: transparent;
    }
    > .card-header {
        background-color: transparent;
        padding: 0;
        font-weight: bold;
        margin: 0 0 $spacer;
        border: none;
    }
    > .card-body, > .icms-widgets > .card-body {
        padding: 0;
    }
}
.bg-dark, .bg-secondary {
    .icms-widget__compact {
        > .card-header {
            color: $white;
        }
    }
}