.icms-widget, .icms-widget__tabbed {
    .edit_wlinks {
        @include transition($transition-fade);
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: 10;
    }
    &:hover .edit_wlinks {
        opacity: 1;
    }
    &:last-child {
        margin-bottom: 0 !important;
    }
    > .card-header {
        > .icms-svg-icon {
            margin-right: $spacer*0.5;
        }
    }
}
.icms-widget__tabbed {
    > .card-header {
        .nav-link {
            padding: $card-spacer-y $card-spacer-x;
        }
    }
}
.icms-widget__transparent, .icms-widget__square {
    &.card {
        border: none;
        background-color: transparent;
    }
    > .card-header {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        &:before {
            background: $gray-600;
            bottom: 0;
            content: "";
            display: block;
            height: 1px;
            left: 0;
            margin: 0 0 -1px;
            position: absolute;
            width: $spacer*3;
        }
    }
    > .card-body, > .icms-widgets > .card-body {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
.icms-widget__compact {
    &.card {
        border: none;
        background-color: transparent;
    }
    > .card-header {
        background-color: transparent;
        padding: 0;
        font-weight: bold;
        margin: 0 0 $spacer;
        border: none;
    }
    > .card-body, > .icms-widgets > .card-body {
        padding: 0;
    }
}
.icms-widget__square {
    > .card-header {
        border-bottom: none;
        padding: 0;
        text-transform: uppercase;
        letter-spacing: -0.2px;
        font-weight: 700;
        position: relative;
        > span:first-child {
            position: relative;
            padding: 0 $spacer 0 $spacer*1.5;
            background: $white;
            color: $info;
            &:before {
                display: inline-block;
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: $spacer*0.9;
                width: $spacer*0.9;
                background: $info;
                top: 50%;
                margin-top: -$spacer*0.5;
            }
        }
        .links {
            background: $white;
            padding-left: $spacer;
            z-index: 1;
        }
        &:before {
            content: '';
            display: inline-block;
            height: 3px;
            position: absolute;
            top: 50%;
            margin-top: -1.5px;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba($black, 0.07);
        }
    }
}
.bg-dark, .bg-secondary, .icms-footer__middle {
    .icms-widget__compact {
        > .card-header {
            color: $white;
        }
    }
}