table.dataTable{clear:both;margin-bottom:6px !important;max-width:none !important;border-collapse:separate !important;border-spacing:0}table.dataTable td,table.dataTable th{box-sizing:content-box}table.dataTable th{white-space: nowrap}div.dataTables_wrapper div.dataTables_length label{font-weight:400;text-align:left;white-space:nowrap;margin:0}div.dataTables_wrapper div.dataTables_length select{width:auto;display:inline-block}table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc,table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>td.sorting{padding-right:30px}table.dataTable thead>tr>th:active,table.dataTable thead>tr>td:active{outline:0}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{cursor:pointer;position:relative}table.dataTable thead .sorting:before,table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:before,table.dataTable thead .sorting_desc_disabled:after{position:absolute;bottom:.9em;display:block;opacity:.3}table.dataTable thead .sorting:before,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc_disabled:before{right:1em;content:"\2191"}table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after{right:.5em;content:"\2193"}table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_desc:after{opacity:1}table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc_disabled:after{opacity:0}@media screen and (max-width:767px){div.dataTables_wrapper div.dataTables_paginate{text-align:center}}table.table-bordered.dataTable th,table.table-bordered.dataTable td{border-left-width:0}table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable td:last-child,table.table-bordered.dataTable td:last-child{border-right-width:0}table.table-bordered.dataTable tbody th,table.table-bordered.dataTable tbody td{border-bottom-width:0}div.table-responsive>div.dataTables_wrapper>div.row{margin:0}div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child{padding-left:0}div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child{padding-right:0}table.dataTable td.with_filter,table.dataTable th.with_filter{background-color:#63d8f4}
.filter input.form-control {
    min-width: 80px;
}
.datagrid-column-html.datagrid-column-html__link {
    display: inline-block;
}
.datagrid tr.dragged_over {
    background: #d4ffe3 !important;
}
.dragged_end {
    animation: background-fade-highlight 2.5s ease-out;
}
.table-striped tbody tr.dragged_end:nth-of-type(odd) {
    animation: background-fade-highlight-striped 2.5s ease-out;
}
@keyframes background-fade-highlight{0%{background-color:#aef1c6;box-shadow: 0px 0px 10px -1px #aef1c6;}100%{background-color:#fff;box-shadow: 0px 0px 10px -1px #fff;}}
@keyframes background-fade-highlight-striped{0%{background-color:#aef1c6;box-shadow: 0px 0px 10px -1px #aef1c6;}100%{background-color:rgba(0,0,0,.05);box-shadow: 0px 0px 10px -1px rgba(0,0,0,.05);}}
.datagrid tr.dragged {
    background: #f0f3f5 !important;
}
.datagrid tr.dragged td {
    border-style: dashed;
    border-bottom-width: 1px !important;
    border-color: #20a8d8;
    cursor:move !important;
}
.datagrid tr.dragged + tr td {
    border-top-width: 0;
}
.datagrid tr .datagrid-editable__link {
    transition: opacity 0.3s;
    color: #c8ced3;
    opacity: 0;
}
.datagrid tr:hover .datagrid-editable__link {
    opacity: 1;
}
.datagrid-backdrop {
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 243, 245, 0.3);
    z-index: 1;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}
.dropdown-multiselect input {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%232f353a' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    background-color: #fff !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 1.5rem;
    cursor: pointer;
}
.dropdown-multiselect .dropdown-menu {
    transform: scaleY(0.8);
    display: block;
    transition: transform 0.2s, opacity 0.2s;
    max-height: 0;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
}
.dropdown-multiselect .dropdown-menu.show_menu {
    visibility: visible;
    max-height: 330px;
    transform: scaleY(1);
    opacity: 1;
}
.datagrid .icms-user-avatar>img {
    max-width: 1.25rem;
    min-width: auto;
    min-height: auto;
}
.datagrid .icms-user-avatar.peer_online:after, .datagrid .icms-user-avatar.peer_no_online:after {
    bottom: -2px;
    right: -2px;
    border-width: 1px;
    height: 10px;
    width: 10px;
}
.animated-row {
    animation-duration: 0.5s;
    animation-name: fadeRow;
}
@keyframes fadeRow{from{opacity:0.5}to{opacity:1}}