body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color:#444;
}

a, a.ajaxlink { color: #2980b9; }
a:hover, a.ajaxlink:hover { color: #d35400; }

a.ajaxlink { text-decoration:none; border-bottom: dashed 1px #2980b9; }
a.ajaxlink:hover { text-decoration:none; border-bottom: dashed 1px #d35400; }

h1 { padding:0; margin-top:0px; margin-bottom: 10px; font-size:28px; }
h1 span { color:#BDC3C7; }
h1 a { color:#BDC3C7; }
h1 a:hover { color:#d35400; }h1, h2, h3, h4, h5, h6 { color:#34495e; font-weight: normal; margin-bottom: 10px; }

p { line-height:20px; }

pre {
    display:block;
    overflow: auto;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    box-shadow: inset 0 0 .5em #CCCCCC;
    padding: 10px;
    margin:0;
}

code pre {
    display:block;
    overflow: auto;
    border: 1px solid #CCCCCC;    
    border-radius: 2px;
    background: #F8F8F8;
    padding: 5px 15px;
    box-shadow: none;
    margin:0;
    font-size:12px;
    line-height:20px;
}


blockquote {
    padding:6px 10px;
    background:#F9F9F9;
    border-left:solid 4px #EDEDED;
    color:#666;
    font-style: italic;
    margin:0;
}

ul {
    margin:0 20px;
    padding:0;
}

.positive { color:green; }
.negative { color:red; }

.hidetext {
	background-color: #fcfccc;
    padding: 8px;
}