.icms-photo-album  {
    margin-bottom: $grid-gutter-width;
    .icms-photo-album__note {
        top: 0.5rem;
        left: 0.5rem;
        background-color: rgba(0,0,0,0.75);
    }
    .icms-photo-album__header {
        color: $white;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: $spacer*2 $spacer $spacer*0.75;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
        a {
            color: inherit;
        }
        .icms-photo-album__header-desc {
            max-height: 0;
            transition: max-height 360ms ease;
            overflow: hidden;
        }
    }
    &:hover .icms-photo-album__header-desc {
        max-height: $font-size-base*$line-height-base*4;
    }
    .dropdown {
        top: 0;
        right: 0;
    }
}