.icms-photo-album  {
    margin-bottom: $grid-gutter-width;
    .icms-photo-album__note {
        top: 0.5rem;
        left: 0.5rem;
        background-color: rgba(0,0,0,0.75);
    }
    .icms-photo-album__header {
        color: $white;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: $spacer*2 $spacer $spacer*0.75;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
        a {
            color: inherit;
        }
        .icms-photo-album__header-desc {
            max-height: 0;
            transition: max-height 360ms ease;
            overflow: hidden;
        }
    }
    &:hover .icms-photo-album__header-desc {
        max-height: $font-size-base*$line-height-base*4;
    }
    .dropdown {
        top: 0;
        right: 0;
    }
}
.icms-photo-album__info_bar {
    .slick-track {
        display: flex !important;
        align-items: center !important;
    }
}
.icms-photo-album__photo {
    > h3 {
        position: absolute;
        margin: 0;
        height: 40px;
        top: 50%;
        width: 100%;
        text-align: center;
        background: rgba($white, .4);
        color: $white;
        margin-top: -20px;
        opacity: 0;
        transition: $transition-fade;
        z-index: 1;
        a {
            color: inherit;
            text-decoration: none;
            text-shadow: 1px 1px 1px $gray-600;
        }
    }
    &:hover {
        > h3, .icms-photo-album__photo_info {
            opacity: 1;
        }
        > .icms-photo-album__photo_info {
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }
        > .icms-photo-album__photo_delete {
            top: 0;
        }
    }
    .icms-photo-album__photo_info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -$spacer*2;
        padding: $spacer*0.5 $spacer*0.5 $spacer*0.25;
        opacity: 0;
        transition: $transition-base;
        background: linear-gradient(to top,rgba($black,.6) 0,rgba($black,0) 100%);
        color: $white;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    .icms-photo-album__photo_delete {
        transition: $transition-base;
        position: absolute;
        top: -($btn-font-size-sm*$btn-line-height-sm + $btn-padding-y-sm*3);
        right: 0;
        z-index: 2;
    }
}