/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .btnBold a {
	background-image:url(images/bold.png);
}
.markItUp .btnItalic a {
	background-image:url(images/italic.png);
}
.markItUp .btnUnderline a {
	background-image:url(images/underline.png);
}
.markItUp .btnStroke a {
	background-image:url(images/stroke.png);
}
.markItUp .btnOl a {
	background-image:url(images/list-bullet.png);
}
.markItUp .btnUl a {
	background-image:url(images/list-numeric.png);
}
.markItUp .btnQuote a {
	background-image:url(images/quote.png);
}
.markItUp .btnImg a {
	background-image:url(images/picture.png);
}
.markItUp .btnImgUpload a {
	background-image:url(images/picture_upload.png);
}
.markItUp .btnLink a {
	background-image:url(images/link.png);
}
.markItUp .btnVideoYoutube a {
	background-image:url(images/youtube.png);
}
.markItUp .btnVideoFacebook a {
	background-image:url(images/facebook.png);
}
.markItUp .btnCode a {
	background-image:url(images/code.png);
}

.markItUpInlineUpload
{
	position: absolute;
	z-index: 10000;
	width: 300px;
	margin: 20px;
	padding: 15px;
	background-color: #e1ebef;
	border:2px solid #7D929D;
	border-radius: 5px;
}
.markItUpInlineUpload > div { position: relative; } /* for positioning "loading" image */

.markItUpInlineUpload label
{
	float: left; clear: left;
	width: 4em; height: 2em;
	padding-right: .5em;
	font-size: 80%;
	font-weight: bold;
	color: #666;
	text-align: right;
}
#inline_upload_close
{
	float: right;
	width: 16px; height: 16px;
	margin-top: 4px;
	background: transparent url(images/close.png) 0 0 no-repeat;
	cursor: pointer;
}
#inline_upload_iframe { display: none; }
